.mainclass{
	height: 100%;
	width: 30%;
	margin: auto;
	margin-top: 100px;
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 100px;
	background-color: #f8f9fa;
	border-radius: 25px;
}
body{
background-image: url("https://previews.123rf.com/images/leventegyori/leventegyori1506/leventegyori150600144/41664052-doctor-with-medical-background.jpg")
}