.losu{
	margin:auto;
	margin-left: 500px;
}
body{
	background-image: url("https://previews.123rf.com/images/leventegyori/leventegyori1506/leventegyori150600144/41664052-doctor-with-medical-background.jpg");
}